<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    {% if fileAll %}
    {% for i in fileAll %}
        <div>
            <h2>{{i.name}}</h2>
            <br>
            <form action="{{i.name}}" meta="post">
                <input type="submit" value="hello">
            </form>
            <h3></h3>
        </div>
    {% endfor %}
    {% else %}
    <h1>No file</h1>
    {% endif %}
</body>
</html>